/*----------------------------------------*/
/*  03. Hero CSS
/*----------------------------------------*/
.hero-section {
    
}
/*-- Hero Slider --*/
.slider-nav {
    & .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        border: none;
        background-color: transparent;
        color: #999999;
        padding: 0px;
        width: auto;
        height: auto;
        border: 0;
        border-radius: 0;
        transform: rotate(90deg);
        font-size: 24px;
        text-transform: capitalize;
        box-shadow: 0 5px 10px rgba($black, 0);
        opacity: 1;
        // Responsive
        @media #{$tablet-device}{
            font-size: 18px;
        }
        @media #{$large-mobile}{
            font-size: 18px;
        }
        &::before{
            display: none;
        }
        &.slick-next{
            margin-right: 0;
            margin-top: -60px;
            left: auto !important;
            right: 20px;
            // Responsive
            @media #{$tablet-device}{
                margin-top: -40px;
            }
            @media #{$large-mobile}{
                margin-top: -30px;
            }
        }
        &.slick-prev{
            margin-left: 0;
            margin-top: 60px;
            left: auto !important;
            right: 20px;
            // Responsive
            @media #{$tablet-device}{
                margin-top: 40px;
            }
            @media #{$large-mobile}{
                margin-top: 30px;
            }
        }
        &:hover {
            background-color: transparent;
            color: $theme-color;
        }
    }
    &:hover {
        & .slick-arrow {
            opacity: 1;
            &.slick-next{
                margin-right: 0;
            }
            &.slick-prev{
                margin-left: 0;
            }
        }
    }
    & .slick-dots {
        position: absolute;
        left: 0;
        bottom: 40px;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        // Responsive
        @media #{$tablet-device}{
            bottom: 20px;
        }
        @media #{$large-mobile}{
            bottom: 20px;
        }
        @media #{$small-mobile}{
            bottom: 15px;
        }
        & li {
            margin: 0 5px;
            & button {
                display: block;
                padding: 0;
                width: 16px;
                height: 16px;
                border: 2px solid transparent;
                background-color: $body-color;
                text-indent: -9999px;
                border-radius: 100%;
            }
            &.slick-active {
                & button {
                    border-color: $theme-color;
                    background-color: $white;
                }
            }
        }
    }
}

/*-- Hero Item --*/
.hero-item {
    width: 100%;
    height: 840px;
    align-items: center;
    display: flex !important;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    &.image-height{
        height: 750px;
        // Responsive
        @media #{$laptop-device}{
            height: 650px;
        }
        @media #{$desktop-device}{
            height: 550px;
        }
        @media #{$tablet-device}{
            height: 500px;
        }
        @media #{$large-mobile}{
            height: 350px;
        }
    }
    &.image-height-three{
        height: 540px;
        // Responsive
        @media #{$laptop-device}{
            height: 440px;
        }
        @media #{$desktop-device}{
            height: 400px;
        }
        @media #{$tablet-device}{
            height: 400px;
        }
        @media #{$large-mobile}{
            height: 350px;
        }
    }
    // Responsive
    @media #{$laptop-device}{
        height: 650px;
    }
    @media #{$desktop-device}{
        height: 600px;
    }
    @media #{$tablet-device}{
        height: 500px;
    }
    @media #{$large-mobile}{
        height: 350px;
    }
}
/*-- Hero Content Two For Hero Slider --*/
.hero-content-2 {
    &.left {
        text-align: left;
    }
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
    
    // All Element Selector
    & > * {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeOutUp;
    }
    & h3 {
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        color: $heading-color;
        margin-bottom: 30px;
        
        // Responsive
        @media #{$laptop-device}{
            font-size: 18px;
        }
        @media #{$desktop-device}{
            font-size: 18px;
            margin-bottom: 20px;
        }
        @media #{$tablet-device}{
            font-size: 18px;
            margin-bottom: 20px;
        }
        @media #{$large-mobile}{
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    & h1 {
        font-size: 48px;
        line-height: 1.2;
        font-weight: 500;
        text-transform: capitalize;
        color: $heading-color;
        margin-bottom: 40px;
        & > br{
            //Responsive
            @media #{$large-mobile}{
                display: none;
            }
        }
        
        // Responsive
        @media #{$laptop-device}{
            font-size: 40px;
        }
        @media #{$desktop-device}{
            font-size: 38px;
            margin-bottom: 30px;
        }
        @media #{$large-mobile}{
            font-size: 30px;
            max-width: 300px;
            margin-bottom: 20px;
        }
        @media #{$small-mobile}{
            font-size: 30px;
            margin-bottom: 20px;
        }
        @media #{$extra-small-mobile}{
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
    & a {
        width: 180px;
        text-transform: uppercase;
        border-color: $heading-color;
        display: inline-block;
        // Responsive
        @media #{$laptop-device}{
            width: 170px;
        }
        @media #{$desktop-device}{
            width: 160px;
        }
        @media #{$tablet-device}{
            width: 160px;
        }
        @media #{$large-mobile}{
            width: 150px;
        }
    }
}
/*-- Hero Content Three For Hero Slider --*/
.hero-content-3 {
    display: inline-block;
    text-align: center;
    &.left {
        text-align: left;
    }
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
    
    // All Element Selector
    & > * {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeOutUp;
    }
    & h1 {
        font-weight: 500;
        // Responsive
        @media #{$large-mobile}{
            font-size: 27px;
        }
        @media #{$extra-small-mobile}{
            font-size: 22px;
        }
    }
}
/*-- Slide Content In Animation --*/
.slick-active {

    /*-- Hero Content Two For Hero Slider --*/
    & .hero-content-2, & .hero-content-3  {

        // All Element Selector
        & > * {
            animation-name: fadeInUp;
            
            // Child Selector
            &:nth-child(1) {
                animation-delay: 0.5s;
            }
            &:nth-child(2) {
                animation-delay: 1s;
            }
            &:nth-child(3) {
                animation-delay: 1.5s;
            }
            &:nth-child(4) {
                animation-delay: 2s;
            }
            &:nth-child(5) {
                animation-delay: 2.5s;
            }
            &:nth-child(6) {
                animation-delay: 3s;
            }
            
        }
    }
    
}

/* --Slider Text Color-- */
.white-text_color{
    .hero-item{
        position: relative;
        &:before{
            content: "";
            background-color: #000;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            opacity: 0.3;
        }
        .hero-content-2{
            h1,
            h3,
            a{
                color: #ffffff;
            }
            a{
                border-color: #ffffff;
                &:hover{
                    border-color: #ee3333;
                }
            }
        }
    }
}

/* ---Ginza's Slider Progress Bar--- */
.slider-progress {
	-webkit-animation: initial;
	animation: initial;
	background: rgba(0, 0, 0, .3);
	height: 5px;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	z-index: 4;
}

.slick-current .slider-progress {
	-webkit-animation: timebar 8s ease-in-out 0s 1 backwards;
	animation: timebar 8s ease-in-out 0s 1 backwards;
}

// Ginza's Keyframes
@-webkit-keyframes timebar {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@keyframes timebar {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
